<% if (success.length) { %>
  <div role="alert" class="alert alert-success relative mb-3 w-full md:w-1/2 mx-auto" id="successAlert">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>
      <%= success %>
    </span>

    <!-- Dismiss (X) button -->
    <button onclick="document.getElementById('successAlert').remove()"
      class="btn btn-sm btn-circle absolute right-2 top-2">
      ✕
    </button>
  </div>
  <% } %>
    <% if (error.length) { %>
      <div role="alert" class="alert alert-error relative mb-3 w-full md:w-1/2 mx-auto" id="errorAlert">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>
          <%= error %>
        </span>

        <!-- Dismiss (X) button -->
        <button onclick="document.getElementById('errorAlert').remove()"
          class="btn btn-sm btn-circle absolute right-2 top-2">
          ✕
        </button>
      </div>
      <% } %>